@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: "Rubik", sans-serif;
   
}
html {
    scroll-behavior: smooth;
}
.navbar-collapse {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#navbar {
    transition: top 0.3s;
    top: 0;
    width: 100%;
}


 ul.navbar-nav{
    display: flex;
    justify-content: flex-start;
} 
.navbar-nav .nav-item .nav-text{
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.navbar-nav .nav-item .nav-text {
    position: relative;
    padding-bottom: 8px; /* Menambahkan ruang di bawah teks untuk border */
}

.navbar-nav .nav-item .nav-text::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0; /* Mulai dari posisi kiri */
    width: 0%; /* Awalnya border tidak terlihat (lebar 0%) */
    height: 2px; /* Ketebalan border */
    background-color: #000; /* Warna border */
    border-radius: 20px;
    transition: all 0.3s ease; /* Transisi yang halus */
}

.navbar-nav .nav-item .nav-text:hover::before {
    width: 100%; /* Perluas border hingga penuh */
}

.button-flex {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.whatsapp-btn {
    position: fixed; /* Membuat tombol tetap di tempat saat scroll */
    bottom: 20px; /* Jarak dari bawah halaman */
    right: 20px; /* Jarak dari sisi kiri halaman */
    background-color: #25D366; /* Warna latar belakang tombol WhatsApp */
    border-radius: 50%; /* Membuat tombol berbentuk bulat */
    width: 80px; /* Ukuran tombol */
    height: 80px; /* Ukuran tombol */
    display: flex; /* Menggunakan Flexbox */
    align-items: center; /* Menyelaraskan item secara vertikal */
    justify-content: center; /* Menyelaraskan item secara horizontal */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Menambahkan bayangan */
    text-decoration: none; /* Menghilangkan garis bawah */
    z-index: 1000;
    transition: all 0.3s ease; /* Transisi yang halus */
    animation: move-up-down 3s infinite;
}

.row .hero{
    background-image: url('assets/welcome.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
}
.row .overlay-hero{
    position: absolute;
    background-color: rgba(22, 21, 21, 0.159);
    height: 100vh;
}
.hero div h1{
    position: absolute;
    justify-content: end;
    text-align: left;
    margin-left: 3rem;
    margin-top: 10.9rem;
    z-index: 2;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.132);
}
.hero div a{
    position: absolute;
    margin-left: 3rem;
    margin-top: 17.9rem;
    z-index: 2;
}
.sub_layanan{
    margin-top: 8.5rem;
    border-radius: 20px;
}
.sub_layanan:hover{
    border-radius: 20px;
    background-color: rgb(214, 49, 49);
}
.section-dokter{
    background-color: #009537;
}
.overlay-name {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7); /* Warna latar belakang semi-transparan */
    color: white;
    text-align: center;
    font-weight: 500;
    padding: 10px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.card-dokter:hover .overlay-name {
    opacity: 1; /* Tampilkan nama dokter saat gambar di-hover */
}

.card-package{
    height: 520;
}
.card-service{
}
.card-service img{
    height:200px;

}
#LayananVaksin img{
    height: 210px;
}
/* Agar card dan teks overlay berada di posisi yang benar */
.card-dokter {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
@keyframes move-up-down {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-10px); /* Menggeser tombol ke atas */
    }
    100% {
        transform: translateY(0px);
    }
}
.whatsapp-btn i {
    font-size: 2.5rem; /* Ukuran ikon */
    color: white; /* Warna ikon */
}


.whatsapp-btn:hover {
    opacity: 0.8;
}

.custom-text {
    font-size: 0.875rem; /* Menyesuaikan ukuran font (misalnya, 14px) */
    line-height: 1.5; /* Jarak antara baris teks */
    width: 100%; /* Memastikan elemen menggunakan lebar penuh dari kontainer */
    max-width: 300px; /* Membatasi lebar maksimal teks */
    margin: 0 auto; /* Memusatkan teks jika lebar kurang dari kontainer */
    text-align: left; /* Menyelaraskan teks ke kiri */
}

.see_more{
    font-size: 0.85rem;
}

.see_more:hover{
    font-weight: bold;
}

.nav-link-logo {
    font-weight: bold; /* Membuat teks menjadi tebal */
    text-transform: uppercase; /* Mengubah teks menjadi huruf besar */
    margin-left: 30px;
    margin-right: 30px;
}


.btn-contact {
    border-radius: 50px; /* Rounded corners for buttons */
    padding: 10px 20px; /* Adjust padding */
}





.btn-medialys{
    background-color: rgb(214, 49, 49);
    color: white;
}
.back i span:hover {
    transform: translateX(5px); /* Memindahkan teks "Kembali" sedikit ke kanan */
    transition: transform 0.3s ease; /* Menambahkan efek transisi halus */
}

.back i {
    transition: transform 0.3s ease; /* Efek transisi untuk ikon */
}

.back i :hover {
    transform: translateX(-5px); /* Memindahkan ikon sedikit ke kiri saat di-hover */
}

.map-responsive {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 ratio */
    height: 0;
    overflow: hidden;
    max-width: 100%;
    background: #ccc;
}

.map-responsive iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}
.footer-social{
    margin-top: 2.5rem;
}
.footer-social a{
    margin-top: 10px;
}
.footer-contact{
    width: 50%;
    padding: 10px;
}







@media (max-width: 768px) {
    .navbar .button-flex button{
        display: none;
    }
    #LayananVaksin h1{
        font-size: 1.4rem;
    }
    #LayananVaksin span{
        font-size: 0.9rem;
    }
    #LayananVaksin img{
        height: 180px;
    }
    #LayananVaksin h5{
        font-size: 1rem;
    }
    #LayananVaksin .btn-contact {
        padding: 8px;
        font-size: 0.85rem;
    }

    #TentangKami h1{
        font-size: 1.4rem;
    }
    #TentangKami img{
        height: 180px;
    }
    #TentangKami p{
        font-size: 0.95rem;
    }
    #TentangKami h4{
        font-size: 1.2rem;
    }
    #TentangKami span{
        font-size: 0.95rem;
    }
    #Alamat h2{
        font-size: 1.2rem;
    }
    .sub_layanan{
        margin-top:6rem;
        font-size: 0.85rem;
        border-radius: 20px;
        padding: 5px;
        
    }
    .sub_layanan:hover{
        border-radius: 20px;
        background-color: rgb(214, 49, 49);
    }
    .whatsapp-btn {
        width: 60px; /* Ukuran lebih kecil untuk mobile */
        height: 60px; /* Ukuran lebih kecil untuk mobile */
        bottom: 15px; /* Jarak dari bawah sedikit lebih kecil */
        right: 15px; /* Jarak dari sisi kanan sedikit lebih kecil */
    }

    .whatsapp-btn i {
        font-size: 24px; /* Ukuran ikon lebih kecil */
    }
    .btn-product{
        font-size: 0.95rem;
        padding: 10px;
    }
  
    .card-package{
        height: 520;
    }

    .card-service img{
        height:150px;
    }
    .footer{
        margin-top: 20px;
    }
    .footer-contact{
        width: 80%;
        padding: 10px;
        margin-bottom: 15px;
    }
    .footer-question{
        margin-top: 20px;
    }
    .footer-question h4{
       font-size: 1.2rem;
       margin-left: 20px;
    }
    .footer-question .footer-contact{
        margin-left: 20px;
    }
    .footer-social h4{
        font-size: 1.2rem;
        margin-left: 20px;
    }
    .footer-social a{
        margin-left: 20px;
    }
    
}